# {{ ansible_managed }}

{% set serverGroups = nagios4_servers | groupby('group') %}

{% for group in serverGroups %}
define hostgroup {
  hostgroup_name          {{ group.0 }}
  members                 {{ group.1 | map(attribute='hostname') | join(',') }}
}
{% endfor %}

define command {
  command_name            check_https4
  command_line            $USER1$/check_http -4 --ssl=1.2 --sni -e 200,401 -H $HOSTNAME$
}

define command {
  command_name            check_https6
  command_line            $USER1$/check_http -6 --ssl=1.2 --sni -e 200,401 -H $HOSTNAME$
}

define command {
  command_name            check_ping4
  command_line            $USER1$/check_ping -4 -H $HOSTADDRESS$ -w 100.0,20% -c 500.0,60% -p 5
}

define command {
  command_name            check_ping6
  command_line            $USER1$/check_ping -6 -H $HOSTADDRESS$ -w 100.0,20% -c 500.0,60% -p 5
}

define command {
    command_name            check_imaps_cert
    command_line            $USER1$/check_ssl_cert -p 993 -H $HOSTNAME$
}

{% for server in nagios4_servers %}
# --[ "{{ server.hostname }}" ] ----------------------------------------------------
define host {
  use	              linux-server
  host_name           {{ server.hostname }}
  contact_groups      {{ server.group }}
{% if server.address is defined %}
  address             {{ server.address }}
{% endif %}
}

{% for service in server.services %}
define service {
  use                 local-service
  host_name           {{ server.hostname }}
  contact_groups      {{ server.group }}
  service_description {% for key, value in nagios4_services.items() %}
{% if key == service %}
{{ value.desc }}
{% endif %}{% endfor %}
  check_command       {% for key, value in nagios4_services.items() %}
{% if key == service %}
{{ value.check_command }}
{% endif %}{% endfor %}
}
{% endfor %}

{% endfor %}